<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="SqlScriptFolder" value="~/App_Data/Scripts/Sql/" />
        <add key="SqlScriptNamingPattern" value="\d{1,2}\.\d{1,2}\.\d{1,2}\..*.sql$" />
        <add key="SqlScriptLastExecuted" value="01.02.01.eSchool Table+View+Data.sql" />
    </appSettings>
</configuration>
