<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Country"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=eSchool;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\CountryDb.mdf"
         providerName="System.Data.SqlClient"/>
    <add name="CountryCompact"
         connectionString="Data Source=|DataDirectory|\CountryCompactDb.sdf;Persist Security Info=False;"
         providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>