<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="eSchool" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=eSchool;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\eSchool.mdf"/>
    <add name="eSchoolEntities" connectionString="metadata=res://*/eSchoolDataModel.csdl|res://*/eSchoolDataModel.ssdl|res://*/eSchoolDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\eSchool.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="NorthwindSample"
             connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Northwind;Integrated Security=true;"
             providerName="System.Data.SqlClient"/>-->
    <!--<add name="AppDataSample"
             connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Database;Integrated Security=true;"
             providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
</configuration>
